# Hedera
HEDERA_NETWORK=testnet
HEDERA_OPERATOR_ID=0.0.xxxxx
HEDERA_OPERATOR_KEY=302e...
HEDERA_MIRROR_NODE=https://testnet.mirrornode.hedera.com

# Populated by `pnpm bootstrap`
HTS_COLLECTION_ID=
HCS_TOPIC_ID=

MANUFACTURER_ACCOUNT_ID=
MANUFACTURER_KEY=
CONSUMER_ACCOUNT_ID=
CONSUMER_KEY=
REPAIRER_ACCOUNT_ID=
REPAIRER_KEY=

# Populated by `pnpm hardhat:deploy`
MARKETPLACE_CONTRACT_ID=
MARKETPLACE_EVM_ADDRESS=
HEDERA_OPERATOR_EVM_KEY=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
DATABASE_URL=file:./dev.db
